<div class="d-flex flex-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">Editing subsidiary</h1>
  <%= link_to 'Show subsidiary', @subsidiary, class: 'btn btn-success my-2 ml-auto' %>
</div>

<%= render 'form', subsidiary: @subsidiary, submit_btn_text: 'Edit subsidiary' %>