<% meta_title 'New subsidiary - T5Web' %>

<div class="d-flex flex-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">New subsidiary</h1>
</div>

<%= render 'form', subsidiary: @subsidiary, submit_btn_text: 'Create subsidiary' %>