<% meta_title 'Edit customer - T5Web' %>

<div class="d-flex flex-column flex-md-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">Editing customer</h1>
  <%= link_to 'Show customer', @customer, class: 'btn btn-success mt-4 mt-md-2 mb-2 ml-md-auto' %>
</div>

<%= render 'form', customer: @customer, submit_btn_text: 'Edit customer' %>