<div class="d-flex flex-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">Editing customer</h1>
  <%= link_to 'Show customer', @customer, class: 'btn btn-success my-2 ml-auto' %>
</div>

<%= render 'form', customer: @customer, submit_btn_text: 'Edit customer' %>