<div class="d-flex flex-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">Editing company</h1>
  <%= link_to 'Show company', @company, class: 'btn btn-success my-2 ml-auto' %>
</div>

<%= render 'form', company: @company, submit_btn_text: 'Edit company' %>