<p id="notice"><%= notice %></p>

<div class="d-flex flex-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">Companies</h1>
</div>

<div class="card border-light bg-light rounded">
  <div class="card-body">
    <%= render 'shared/tables/companies_table', companies: @companies.to_a %>

    <%= link_to 'New company', new_company_path, class: 'mt-1 btn btn-success w-100' %>
  </div>
</div>