<% meta_title 'New company - T5Web' %>

<div class="d-flex flex-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">New company</h1>
</div>

<%= render 'form', company: @company, submit_btn_text: 'Create company' %>