<div class="d-flex flex-column flex-md-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">Editing account</h1>
  <%= link_to 'Show account', @account, class: 'btn btn-success mt-4 mt-md-2 mb-2 ml-md-auto' %>
</div>

<%= render 'form', account: @account, submit_btn_text: 'Edit company' %>